.containerCart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconCart {
  font-size: 2rem;
}
.CantCart {
  width: 50px;
  background-color: red;
  color: white;
  border-radius: 80%;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
}
